body {
    background-color: #3b2b77 !important;
    margin: 40px !important;
}

.telex-regular {
    font-family: "Telex", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
}

.bg-gray-opacity {
    background-color: rgba(204, 204, 204, 0.05);
}

.text-justify{
    text-align: justify;
}

#content-logo{
    margin-bottom: 10%;
    margin-right: 7%;
}

#container-logo{
    background: linear-gradient(#965ad8, #3b2b77);
    border-radius: 50%;
    border: 3px solid white;
    padding: 5%;
}


@media (min-width: 1200px) {
    #img-prog{
        width: 160% !important;
    }
    #content-logo{
        margin-right: -50%;
    }
}

@media (max-width: 580px) {
    #content-logo{
        width: 20% !important;
    }
}

@media (max-width: 992px) and  (min-width: 690px){
    #img-prog {
        width: 70% !important;
    }

    #container-logo{
        width: 80% !important;
    }
}