body{
    background-color: #3b2b77;
    margin: 0;
}

.telex-regular {
    font-family: "Telex", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-weight: bold;
  }

#header{
    text-align: end;
    background-image: url("./assets/fondo_title.png");
    background-repeat: no-repeat;
    background-position: calc(100% - 40px) center; /* Posiciona la imagen 40px a la derecha */
    padding: 20px 40px; /* Ajusta el relleno para que haya 40px adicionales a cada lado del texto */
    background-position: calc(100% + 800px) center;
}
    

#title{
    color: white;
    font-size: 50px;
    
}

#title-container{
    display: inline-block;
}

.titulos{
    margin-right: 80px;
    font-size: 60px;
}

#section-title{
    display: flex;
    text-align: end;
}

#imageProgramacion{
    width: 600px;
    position: fixed;
    top: 50px;
    left: 100px;
    z-index: -1;
}

#title1{
    color: #db9cfd;
    
}

#title2{
    color: white;
    margin-top: 0;
}

#section-text{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: end;
    margin-right: 80px;
}

#section-title{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#container-title{
    display: flex;
    flex-direction: column;
}

#div-text{
    width: 50%;
    margin-left: 50px;
}

p{
    color: white;
    font-size: 25px;
}

#contenedor-logo{
    background: linear-gradient(#965ad8, #3b2b77);
    border-radius: 50%;
    border: 3px solid white;
}

#logo-mt{
    margin: 20px;
    position: relative;
    top: 5px;
    left: 3px;
}